 <div class="container" id="contactPg">
        <!--Get in Touch Container-->
        <!--Section Headers-->
        <div id="section_header">
            <h2>Get in <span>Touch Today!</span></h2>
        </div>
        <div class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Contact info</h3>
                        <p><span>Address:</span> 941 Progress Avenue, Centennial College</p>
                        <p><span>Email:</span> msumon@my.centennialcollege.ca</p>
                        <p><span>Phone:</span>(647)202-5110</p>

                    </div>
                    <!--Form Details Section-->
                    <div class="col-md-6">
                        <form>
                            <div class="form_details">
                                <input type="text" class="text" value="Name">
                                <input type="text" class="text" value="Email Address">
                                <input type="text" class="text" value="Subject">
                                <textarea value="Message">Message</textarea>
                                <div class="clearfix"> </div>
                                <button class="btn" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!--This is the keep connected section-->
    <div id="socialNetwork" class="center-block">
        <!--Social Media section-->
        <div align="center" id="connect">
            <h2><span>Keep Connected</span> with me!</h2>
        </div>
        <div align="center">
            <a href="http://pinterest.com">
                <img src="assets/images/pint.png" />
            </a>
            <a href="https://www.facebook.com/mo.sumon.7">
                <img src="assets/images/fb.png" />
            </a>
            <a href="https://twitter.com/SumonM/">
                <img src="assets/images/twitter.png" />
            </a>
            <a href="http://skype.com">
                <img src="assets/images/skype.png" />
            </a>
            <a href="http://blogspot.com">
                <img src="assets/images/blog.png" />
            </a>
        </div>
    </div>
</div>
