<!--File Name--expressPortfolio
Author:Mohammed Sumon
Website Name: Mohammed Sumon's Portfolio Website
This is my footer.ejs partial file for views -->
    <!-- Footer -->
    <div id="footer">
        <div>
            <span>Copyright &copy; 2015 Mohammed Sumon's Website</span>
        </div>
    </div>