<!--File Name--expressPortfolio
Author:Mohammed Sumon
Website Name: Mohammed Sumon's Portfolio Website
This is my header.ejs partial file for views -->
<!--Navigation Bar Setup-->
    <nav class="navbar navbar-default">
        <a href="/"><img class="center-block img-responsive img-rounded" src="/assets/images/logo.jpg" /></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="glyphicon glyphicon-home" href="/">Home</a></li>
                        <li><a class="glyphicon glyphicon-plus" href="/about">About Me</a></li>
                        <li><a class="glyphicon glyphicon-phone" href="/contact">Contact Me</a></li>
                        <li><a class="glyphicon glyphicon-briefcase" href="/Services">Services</a></li>
                        <li><a class="glyphicon glyphicon-star-empty" href="/projects">Featured Work</a></li>
                        <li><a href="https://github.com/MohammedSumon">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>