<!--File Name--expressPortfolio
Author:Mohammed Sumon
Website Name: Mohammed Sumon's Portfolio Website
This is my projects.ejs partial file for views -->
<div class="container" id="projectsPg">
        <!--section Header for Projects-->
        <div id="section_header">
            <h2>My <span>Projects</span> </h2>
        </div>
        <!--Projects section split into columns-->
        <div id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 service">
                        <h3>Portfolio 1</h3>
                        <p>This space is reserved for details about Project 1</p>
                        <a href="https://github.com/MohammedSumon/Project1"><img src="assets/images/projPic.jpg" class="img-responsive" alt=" "></a>

                    </div>
                    <div class="col-lg-4 service">
                        <h3>Portfolio 2</h3>
                        <p>This space is reserved for details about Project 2</p>
                        <a href="https://github.com/MohammedSumon/Project2"><img src="assets/images/projPic.jpg" class="img-responsive" alt=" "></a>
                    </div>
                    <div class="col-lg-4 service">
                        <h3>Portfolio 3</h3>
                        <p>This space is reserved for details about Project 3</p>
                        <a href="https://github.com/MohammedSumon/Project3"><img src="assets/images/projPic.jpg" class="img-responsive" alt=" "></a>
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer including keep connected panel-->
    <!--This is the keep connected section-->
    <div id="socialNetwork" class="center-block">
        <!--Social Media section-->
        <div align="center" id="connect">
            <h2><span>Keep Connected</span> with me!</h2>
        </div>
        <div align="center">
            <a href="http://pinterest.com">
                <img src="assets/images/pint.png" />
            </a>
            <a href="https://www.facebook.com/mo.sumon.7">
                <img src="assets/images/fb.png" />
            </a>
            <a href="https://twitter.com/SumonM/">
                <img src="assets/images/twitter.png" />
            </a>
            <a href="http://skype.com">
                <img src="assets/images/skype.png" />
            </a>
            <a href="http://blogspot.com">
                <img src="assets/images/blog.png" />
            </a>
        </div>
    </div>
    </div>
