 <div class="container" id="servicePg">
        <!--Section Headers-->
        <div id="section_header">
            <h2>My <span>Services</span> </h2>
        </div>

        <!--Services details-->
        <div id="services">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="glyphicon glyphicon-new-window"> Website Design</h3>
                        <img src="assets/images/webDesign.jpg" class="container img-responsive img-circle" alt=" ">
                    </div>
                    <div class="col-md-6">
                        <p>Create and design websites by incorpirating jQuery, HTML5, and CSS as well as bootstrap and foundation frameworks</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="glyphicon glyphicon-plus-sign">Programming</h3>
                        <img src="assets/images/prgramming.jpg" class="container img-responsive img-circle" alt=" ">
                    </div>
                    <div class="col-md-6">
                        <p>Familiar with many programming languages such as C#, C++, Java, Linux</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="glyphicon glyphicon-globe"> Project Management</h3>
                        <img src="assets/images/pm.jpg" class="container img-responsive img-circle" alt=" ">
                    </div>
                    <div class="col-md-6">
                        <p>Extremely comfortable working in a team environment. Also, in leading and managing projects from beginning to end.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="glyphicon glyphicon-comment"> Consultations</h3>
                        <img src="assets/images/consult.jpg" class="container img-responsive img-circle" alt=" ">
                    </div>
                    <div class="col-md-6">
                        <p>Provide consultations to help alleviate some of your stress to allow you to make the perfect decision for your company</p>
                    </div>
                </div>
            </div>
        </div>


    <!--This is the keep connected section-->
    <div id="socialNetwork" class="center-block">
        <!--Social Media section-->
        <div align="center" id="connect">
            <h2><span>Keep Connected</span> with me!</h2>
        </div>
        <div align="center">
            <a href="http://pinterest.com">
                <img src="assets/images/pint.png" />
            </a>
            <a href="https://www.facebook.com/mo.sumon.7">
                <img src="assets/images/fb.png" />
            </a>
            <a href="https://twitter.com/SumonM/">
                <img src="assets/images/twitter.png" />
            </a>
            <a href="http://skype.com">
                <img src="assets/images/skype.png" />
            </a>
            <a href="http://blogspot.com">
                <img src="assets/images/blog.png" />
            </a>
        </div>
    </div>
</div>